@import "vars";
html,
body {
  box-sizing: border-box;
  min-height: 100vh;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background-color: rgba($color, 0.15);
  img {
    cursor: pointer;
  }
}
.main__paragraph {
  font-size: 20px;
  color: $color;
  font-weight: bold;
  text-align: center;
  margin-top: 34px;
}

.main__cells,
.exercises__select_wrapper {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.exercises__select_wrapper__one {
  margin-top: 34px;
  display: flex;
  justify-content: center;
}
.items__cells {
  padding-top: 10px;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 130px;
  height: 80px;
  background-color: rgba($color, 0.15);
  border-radius: 4px;
  margin-bottom: 45px;
  &__selected {
    box-shadow: 0px 0px 8px rgba($color, 0.8);
    background-color: rgba($color, 0.25);
  }
  &__mark {
    position: absolute;
    top: -6px;
    right: -6px;
  }
}
.second__paragraph {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.button__next {
  min-width: 95px;
  height: 34px;
  border-radius: 6px;
  background-color: $color;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 14px;
  &__disabled {
    background-color: grey;
  }
}
.footer {
  display: flex;
  justify-content: center;
}
.footerGroup {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right: 40%;
}

.exercise__block__closed {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 324px;
  height: 50px;
  background-color: $color;
  border-radius: 24px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition: height 0.5s ease-in-out;
}
.list__edit {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 170px;
  li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 6px;
    img {
      width: 26px;
    }
  }
}
.container__ex__page,
.group__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  min-height: 90vh;
}

.footerWrapper {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  margin-top: 14px;
  margin-bottom: 40px;
}

.content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.exercise__block__open {
  min-height: 270px;
  display: block;
  &__input {
    width: 274px;
    height: 40px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    padding: 6px;
    padding-right: 44px;
  }
  &__edit__header {
    display: flex;
    justify-content: space-between;
    .polygon__open {
      fill: white;
    }
  }
  .tool__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }
  .line {
    height: 3px;
    border-radius: 3px;
    background-color: white;
  }
}
.exs__list__wrapper {
  overflow: auto;
  margin-top: 4px;
  height: 200px;
}
.df {
  display: flex;
}
.jcc {
  justify-content: center;
}
.jcspb {
  justify-content: space-between;
}

.searching {
  position: relative;
}
.searching__icon {
  position: absolute;
  right: 6px;
  fill: rgb(184, 184, 184);
  width: 32px;
  height: 42px;
}
.group__container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.exs__list__container {
  margin-left: 0;
  padding-left: 0;
  &__items {
    list-style-type: none;
    margin-bottom: 6px;
    font-weight: 500;
  }
}
.account__container {
  display: flex;
  justify-content: center;
  min-height: 85vh;
}
.account__block {
  position: relative;
  text-align: center;
  background-color: $color;
  width: 300px;
  height: 380px;
  border-radius: 22px;
  margin-top: 60px;
  .avatar {
    margin-top: 20px;
  }
  .settings__svg {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .exit__svg {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .name {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .options {
    width: 254px;
    height: 30px;
    background-color: rgba(white, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 4px;
  }
  .left {
    display: flex;
    img {
      margin-right: 8px;
    }
  }
  .polygon {
    transform: rotate(270deg);
  }
  .options__container {
    display: flex;
    justify-content: center;
  }
}

.signup__container {
  text-align: center;
  img {
    width: 192px;
  }
  .pharagraph {
    font-size: 20px;
    color: $color;
    margin-top: 46px;
    font-weight: bold;
  }
  input {
    width: 340px;
    height: 50px;
    font-size: 20px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 4px;
  }
  a {
    text-decoration: none;
  }
  .button {
    width: 240px;
    height: 40px;
    background-color: $color;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .sideFunc {
    font-size: 16px;
    color: $color;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 40px;
  }
}
.wrapper__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.mainParagraph, .clear__button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}
.settings__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  .settings {
    color: white;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    input {
      width: 114px;
      height: 24px;
      border: none;
      border-radius: 4px;
    }
    .buttons {
      display: flex;
      width: 114px;
      justify-content: space-between;
      button {
        font-size: 14px;
        font-weight: bold;
        border: none;
        background-color: white;
        border-radius: 4px;
      }
    }
  }
}
.button__save {
  width: 150px;
  height: 35px;
  background-color: $color;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.weight__container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weight__wrapper {
  width: 136px;
  height: 31px;
  background-color: rgba($color: #000000, $alpha: .25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  border-radius: 6px;
  input {
    width: 73px;
    border-radius: 6px;
    height: 31px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
.weight__values {
  margin-top: 14px;
  padding: 0 8px;
  color: white;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  font-size: 14px;
  input {
    margin-top: 4px;
    width: 50px;
    height: 25px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: none;
  }
}
.heightSVG {
  width: 170px;
  margin-top: 34px;
}
.input__height {
  text-align: center;
  margin-top: 10px;
  width: 74px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}
.params__container {
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 0 14px;
  margin-top: 20px;
  input {
    width: 70px;
    height: 24px;
    border:none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-right: 8px;
  }
  .params__cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}
.fat__input, .water__input {
  padding: 0;
  width: 70px;
  height: 24px;
  border:none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-right: 8px;
}

.h2paragraph {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.water__button {
  border: none;
  border-radius: 4px;
  background-color: white;
  padding: 0;
  width: 26px;
  height: 26px;
}
.water__inputs__container {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottle__water {
  position: relative;
  margin-top: 24px;
  width: 120px;
  z-index: 1000;
}
.timer__wrapper {
  display: flex;
  background-color: $color;
  width: 250px;
  justify-content: center;
  input {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
  }
  .dots {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0 4px;
  }
  button {
    border: none;
    border-radius: 4px;
    margin: 0 4px;
    font-weight: bold;
    background-color: white;
  }
}
@media screen and (min-width: 900px) {
  .exercise__block__open{
    width: 430px;
  }
  .exercise__block__closed{
    width: 430px;
  }
  .tool__bar {
    width: 400px;
    input {
      margin: 0 4px;
      width: 50px;
      height: 23px;
      font-size: 18px;
      border: none;
      border-radius: 4px;
    }
  }
}
@media screen and (max-width: 900px) {
 
  .tool__bar {
    input {
      margin: 0 4px;
      width: 40px;
      height: 23px;
      font-size: 18px;
      border: none;
      border-radius: 4px;
    }
  }
}
.water__layer {
  position: absolute;
  z-index: 1;
  left: 128px;
  width: 44px;
  max-height: 90px;
  bottom: 75px;
  border-radius: 0 0 8px 8px;
  background-color: aqua;
}
.result__container {
  text-align: center;
  .result__logo {
    margin-top: 150px;
    width: 250px;
  }
  .button {
    margin-top: 290px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 40px;
    background-color: $color;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}